.sandwich-button {
    display: none;
    margin-left: 15px;
    margin-top: 10px;

    @media screen and (max-width: 414px){
        display: inline-block;
    }
}

.menu-list {
    min-width: 250px;
    overflow: hidden;

    @media screen and (max-width: 414px){
        transition-duration: 300ms;
        transition-property: width;
        transition-timing-function: linear;
        width: 100%;
    }
}

.menu-list--hidden {
    overflow: hidden;
    width: 0;
}
