.filter {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex: 1 auto;
  padding: 0 15px;

    @media screen and (max-width: 414px){
      order: -1;
    }

  .slider-value {
    position: fixed;
  }

  .year-range {
    position: relative;

    div {
      position: relative;
      float: left;
    }

    div:last-of-type {
      float: right;
    }
  }

  .search-btn {
    margin-bottom: 10px;
  }
}
