.collection-item {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    margin: 10px;
    min-width: 260px;
    padding: 15px;
    text-align: center;
    width: 30%;
    &:hover {
        border: 1px solid #dddddd;
        box-shadow: 0 0 10px #dddddd;
    }

    img {
        height: 360px;
        width: 250px;
    }

    p {
        line-height: 20px;
        font-size: 15px;
    }

    .movie-title {
        font-size: 18px;
        margin: 5px 0;
    }

    .movie-description {
        height: 60px;
        overflow-y: hidden;
        text-align: left;
        position: relative;
        &::after {
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 30%;
            height: 1.2em;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
        }
    }

    .rating {
        margin-top: 10px;
    }
}